@import "tailwindcss";
@import "./utils.css";

* {
  scrollbar-gutter: stable;
  -webkit-tap-highlight-color: transparent;
}

body {
  --tw-bg-opacity: 1;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  transition: background-color ease-out 400ms, color ease-in-out 400ms;
  perspective: 1000px;
}

button {
  outline: none;
}

a,
input {
  outline: none;
  cursor: pointer;
}

svg {
  width: 100%;
  height: 100%;
}
