@theme {
  --main-background-color: #fff;
  --component-background: #fff;
  --dark-background: #000;
  --main-text-color: #333333;
  --second-text-color: #fff;
  --dark-text: #000;

  --grey-color: #cfcfcf;
  --dark-purple: #522b5b;

  --search-input-bg: #e4e4e482;
  --search-input-text: #000;

  --nav-text-color: #666666;
  --nav-text-color-active: #333333;
}

@utility container {
  margin: 0 auto;
  max-width: 1590px;
  padding: 0 160px;
}

dialog:open {
  opacity: 1;
}

dialog {
  opacity: 0;
  outline: none;
  transition: opacity 0.3s ease-out, overlay 0.3s ease-out allow-discrete,
    display 0.3s ease-out allow-discrete;
}

@starting-style {
  dialog:open {
    opacity: 0;
  }
}

dialog::backdrop {
  transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete,
    background-color 0.3s;
}

dialog:open::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

@starting-style {
  dialog:open::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}
